<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
    <head>
        <script src="../static/css/jquery.min.js" th:src="@{/js/bootstrap.min.js}" ></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        board
        <div>
            <p>list</p>
            <p>edit</p>
            <p>delete</p>
            <p>view</p>
        </div>
        
        <div>
                <a href="./templates/login.html" th:href="@{/login}">log in</a>
                <a href="./templates/logout.html" th:href="@{/logout}">log out</a>
                <a href="./templates/signup.html" th:href="@{/signup}">sign up</a>
                <p><a href="./templates/board.html" th:href="@{/board}">Board</a></p>
        </div>
    </body>
</html>