<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="../static/css/jquery.min.js" th:src="@{/js/bootstrap.min.js}" ></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <form th:action=@{/organization} class="col-6">
          <div>
              <input type="text" class="form-control" id="ORGANIZATION_SEQ" name="ORGANIZATION_SEQ" placeholder="ORGANIZATION_SEQ">
              <input type="text" class="form-control" id="NAME" name="NAME" placeholder="NAME">
              <input type="text" class="form-control" id="TELEPHONE" name="TELEPHONE" placeholder="TELEPHONE">
              <input type="text" class="form-control" id="ORDER_NUMBER" name="ORDER_NUMBER" placeholder="ORDER_NUMBER">
              <input type="text" class="form-control" id="PARENT_ORGANIZATION_SEQ" name="PARENT_ORGANIZATION_SEQ" placeholder="PARENT_ORGANIZATION_SEQ">
          </div>
          <div class="d-flex justify-content-end py-3">
              <button type="submit" class="btn btn-primary w-25">insert</button>
          </div>
          
        </form>
            <table class="table table-dark border col-6">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">MEMBER_ID</th>
                        <th scope="col">MEMBER_NAME</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each = "resultData : ${resultMap}">
                        <th scope="row">1</th>
                        <td th:text = ${resultData.ORGANIZATION_SQL}></td>
                        <td th:text = ${resultData.NAME}></td>

                      </tr> 

                    </tbody>
            </table>

       
    </body>
</html>